h1{
	margin-left: 500px;
	font-size: 18px;
}
section{
	background-color: #006837;
	width: 1286px;
}
li{
	display: inline-block;
	margin-left: 25px;
	font-size: 48px;
	line-height: 57px;
}
ul{
	text-align: center;
}
.propert{
	margin-left: 30px;
    margin-right: 20px;
 	width: 1286px;
}
.foto{	
	width: 201px;
	float: right;
	padding-right: 60px;
}
.familie{
	margin-top: 100px;
	max-width: 1250px;
    margin: 110px auto;
}
.float-box-left{
	background-color: yellow;
	float: right;
	width: 460px;
	margin-bottom: 60px;
	margin-right: 50px;
}
.float-box-img-left{
	width: 152px;
	float: left;
}
.text{
	 margin: 0px auto;
}
.float-box-rigt{
	background-color: yellow;
	float: left;
	width: 563px;
	margin-left: 60px;
}
.float-box-img{
	width: 152px;
	float: right;
}
.text2{
	margin: 0px auto;
}
.clear{
	clear: both;
}